.nav {
	position: fixed;
	top: 0;
	padding: 20px;
	width: 100%;
	height: 60px;
	z-index: 1; /*100%*/

	/*Animations: scroll down -> the nav bar disappears*/
	transition-timing-function: ease-in;
	transition: all 0.5s;
}
.nav__contents {
	justify-content: space-between;
	display: flex;
}

.nav__logo {
	position: fixed;
	left: 0px;
	width: 120px;
	padding-left: 20px;
	cursor: pointer;
}

.nav__avatar {
	cursor: pointer;
	position: fixed;
	right: 20px;
	width: 50px;
}

.nav__black {
	background-color: #111;
}
